[submodule "Assemblies/Vault"]
	path = Assemblies/Vault
	url = https://github.com/VTIL-LLc/Vault.git
[submodule "Assemblies/Threading"]
	path = Assemblies/Threading
	url = https://github.com/VTIL-LLc/Threading.git
[submodule "Assemblies/Sentinels"]
	path = Assemblies/Sentinels
	url = https://github.com/VTIL-LLc/Sentinels.git
[submodule "Assemblies/EventLog"]
	path = Assemblies/EventLog
	url = https://github.com/VTIL-LLc/EventLog.git
[submodule "Assemblies/Configuration"]
	path = Assemblies/Configuration
	url = https://github.com/VTIL-LLc/Configuration.git
[submodule "Assemblies/event-log"]
	path = Assemblies/event-log
	url = https://github.com/VTIL-LLc/EventLog.git
